* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(255, 187, 0, 0.7411764706), rgba(255, 120, 48, 0.7803921569)), url("https://natours.netlify.app/img/nat-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.header-logo {
  position: absolute;
  top: 60px;
  left: 60px;
}

.logo {
  height: 40px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 35px;
  -webkit-animation: moveInright 2s ease-out;
          animation: moveInright 2s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 19px;
  -webkit-animation: moveInleft 2s ease-out;
          animation: moveInleft 2s ease-out;
  margin-bottom: 2rem;
}

@-webkit-keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn:link,
.btn:active {
  color: #777;
  padding: 15px 30px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.btn:link:hover,
.btn:active:hover {
  transform: translateY(-1.5px);
}

.btn:after {
  display: inline-block;
  content: "";
  height: 100%;
  width: 80%;
  top: 0px;
  left: 10%;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleY(2) scaleX(2.5);
  opacity: 0;
}

.btn-white {
  background-color: white;
}

.btn-animation {
  -webkit-animation: moveInDown 2s ease-out;
          animation: moveInDown 2s ease-out;
}

.composition__photo {
  position: relative;
  width: 55%;
  transition: all 0.2s;
  outline-offset: 1rem;
  border-radius: 2px;
}
.composition__photo-1 {
  top: -1rem;
  left: -2rem;
}
.composition__photo-2 {
  top: -11rem;
  left: 13rem;
}
.composition__photo-3 {
  top: -19rem;
  left: 4rem;
}
.composition__photo:hover {
  transform: scale(1.2);
  z-index: 10;
  outline: 0.5rem solid #ffb900;
}

.button {
  color: #ffb900;
  text-decoration: none;
  border-bottom: 1px solid #ffb900;
  padding: 5px 10px;
}
.button:hover {
  background-color: #ffb900;
  color: white;
}

.heading-span {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.1rem;
}

.heading-secendary {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  transition: all 0.2s;
  font-size: 2.3rem;
  margin-top: 3rem;
}
.heading-secendary:hover {
  transform: skewX(1.2deg) skewY(1.5deg);
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}

.row {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem ) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem ) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem ) / 4);
}
.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 3rem ) / 3 ) + 3rem);
}
.row .col-2-of-4 {
  width: calc( 2 *(100% - 3 * 3rem ) / 4 + 3rem);
}
.row .col-3-of-4 {
  width: calc( 3 * (100% - 3 * 3rem ) / 4 + 2 * 3rem);
}

.row {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem ) / 4);
  margin-top: 12rem;
  text-align: center;
  border-radius: 2px;
}

.section-features {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(255, 187, 0, 0.7529411765), rgba(255, 120, 48, 0.6901960784)), url("https://natours.netlify.app/img/nat-4.jpg");
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.75s;
}
.feature-box:hover {
  transform: translateY(-2rem);
}

.span {
  font-size: 15px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 13px;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
}

.row {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem ) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem ) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem ) / 4);
}
.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 3rem ) / 3 ) + 3rem);
}
.row .col-2-of-4 {
  width: calc( 2 *(100% - 3 * 3rem ) / 4 + 3rem);
}
.row .col-3-of-4 {
  width: calc( 3 * (100% - 3 * 3rem ) / 4 + 2 * 3rem);
}

.section-storys {
  padding: 10rem 0;
  background-color: #eee;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 33rem;
}
.card-side {
  height: 33rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
}
.card-side-photo {
  height: 35vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 5px;
}
.card-side-photo--1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730), url("https://natours.netlify.app/img/nat-5.jpg");
}
.card-side-photo--2 {
  background-image: linear-gradient(to right, lightgreen, green), url("https://natours.netlify.app/img/nat-6.jpg");
}
.card-side-photo--3 {
  background-image: linear-gradient(to right, #2998ff, #5643fa), url("https://natours.netlify.app/img/nat-7.jpg");
}
.card-side-front {
  background-color: white;
}
.card-side-back {
  transform: rotateY(180deg);
}
.card-side-back--1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
}
.card-side-back--2 {
  background-image: linear-gradient(to right, lightgreen, green);
}
.card-side-back--3 {
  background-image: linear-gradient(to right, #2998ff, #5643fa);
}
.card:hover .card-side-front {
  transform: rotateY(180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0);
}

.card-details {
  text-decoration: none;
}

li {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.heading-span {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.back-span-1 {
  color: white;
  text-align: center;
  margin-bottom: 8rem;
}

.back-span-2 {
  font-size: 3rem;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-bottom: -3em;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn:link,
.btn:active {
  color: #777;
  padding: 15px 30px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.btn:after {
  display: inline-block;
  content: "";
  height: 100%;
  width: 80%;
  top: 0px;
  left: 10%;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleY(2) scaleX(2.5);
  opacity: 0;
}

.btn-white {
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.heading-secendary {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  transition: all 0.2s;
  font-size: 2.3rem;
  margin-top: 3rem;
}
.heading-secendary:hover {
  transform: skewX(1.2deg) skewY(1.5deg);
}

.story {
  width: 75%;
  padding: 3rem 0;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.678);
  transform: skewX(-12deg);
  padding-left: 4rem;
}
.story-shape {
  transform: skewX(12deg);
  width: 10rem;
  height: 10rem;
  float: left;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  overflow: hidden;
  margin-right: 1rem;
}
.story-img {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate(-2.5rem) scale(1.4);
  transition: all 0.5s;
}
.story:hover .story-img {
  transform: translatex(-2.5rem) scale(1);
  filter: blur(3px) brightness(75%);
}
.story__text {
  transform: skewX(12deg);
}
.story-caption {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(-100% -10%);
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.5s;
}
.story:hover .story-caption {
  transform: translateY(-6rem);
}

.span-size {
  font-size: 17px;
}

.size {
  font-size: 14px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 130%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}

.row {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem ) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem ) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem ) / 4);
}
.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 3rem ) / 3 ) + 3rem);
}
.row .col-2-of-4 {
  width: calc( 2 *(100% - 3 * 3rem ) / 4 + 3rem);
}
.row .col-3-of-4 {
  width: calc( 3 * (100% - 3 * 3rem ) / 4 + 2 * 3rem);
}/*# sourceMappingURL=main.css.map */